.container
{
    display: flex;
    flex-flow: column;
    width: 90%;
    justify-content: flex-start;
    align-items: flex-start;
}

:host>*
{
    margin: 2%;
}

button
{
    margin-bottom: 30px;
}