.container
{
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-bottom: 20px;
    align-items: center;
    width: 100vw;
}
